/* @font-face ============== */

@font-face {
    font-family: 'HelvNeueLightforIBM';
    src: url(/assets/fonts/HelvNeueLightforIBM.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelvNeueLightItalicforIBMRegular';
    src: url('/assets/fonts/helvneuelightitalicforibm.eot');
    src: url('/assets/fonts/helvneuelightitalicforibm.eot') format('embedded-opentype'),
         url('/assets/fonts/helvneuelightitalicforibm.woff2') format('woff2'),
         url('/assets/fonts/helvneuelightitalicforibm.woff') format('woff'),
         url('/assets/fonts/helvneuelightitalicforibm.ttf') format('truetype'),
         url('/assets/fonts/helvneuelightitalicforibm.svg#HelvNeueLightItalicforIBMRegular') format('svg');
}
@font-face {
    font-family: 'HelvNeueLightCondforIBM';
    src: url(/assets/fonts/HelvNeueLightCondforIBM.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelvNeueRomanforIBM';
    src: url(/assets/fonts/HelvNeueRomanforIBM.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelvNeueRomanItalicforIBMRegular';
    src: url('/assets/fonts/helvneueromanitalicforibm.eot');
    src: url('/assets/fonts/helvneueromanitalicforibm.eot') format('embedded-opentype'),
         url('/assets/fonts/helvneueromanitalicforibm.woff2') format('woff2'),
         url('/assets/fonts/helvneueromanitalicforibm.woff') format('woff'),
         url('/assets/fonts/helvneueromanitalicforibm.ttf') format('truetype'),
         url('/assets/fonts/helvneueromanitalicforibm.svg#HelvNeueRomanItalicforIBMRegular') format('svg');
}
@font-face {
    font-family: 'HelvNeueMediumforIBM';
    src: url(/assets/fonts/HelvNeueMediumforIBM.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelvNeueMediumItalicforIBMRegular';
    src: url('/assets/fonts/helvneuemediumitalicforibm.eot');
    src: url('/assets/fonts/helvneuemediumitalicforibm.eot') format('embedded-opentype'),
         url('/assets/fonts/helvneuemediumitalicforibm.woff2') format('woff2'),
         url('/assets/fonts/helvneuemediumitalicforibm.woff') format('woff'),
         url('/assets/fonts/helvneuemediumitalicforibm.ttf') format('truetype'),
         url('/assets/fonts/helvneuemediumitalicforibm.svg#HelvNeueMediumItalicforIBMRegular') format('svg');
}
@font-face {
    font-family: 'HelvNeueBoldforIBM';
    src: url(/assets/fonts/HelvNeueBoldforIBM.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}
 @font-face {
    font-family: 'HelvNeueBoldItalicforIBMRegular';
    src: url('/assets/fonts/helvneuebolditalicforibm.eot');
    src: url('/assets/fonts/helvneuebolditalicforibm.eot') format('embedded-opentype'),
         url('/assets/fonts/helvneuebolditalicforibm.woff2') format('woff2'),
         url('/assets/fonts/helvneuebolditalicforibm.woff') format('woff'),
         url('/assets/fonts/helvneuebolditalicforibm.ttf') format('truetype'),
         url('/assets/fonts/helvneuebolditalicforibm.svg#HelvNeueBoldItalicforIBMRegular') format('svg');
}
@font-face {
    font-family: 'HelvNeueCondforIBM';
    src: url(/assets/fonts/HelvNeueCondforIBM.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}