<nav class="navbar navbar-default ibm-navbar ibm-nlc-navbar">
  <div class="container ibm-container">
    <div ng-controller="AppController">
      <div>
        <ul class="nav navbar-nav navbar-left ibm-nav">
          <li>
            <a ngf-select ngf-change="getFileContent(files)" data-multiple="true" ng-model="files">Import</a>
          </li>
          <li>
            <a ng-click="export()">Export</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right ibm-nav">
          <li style="float: right">
            <a ng-click="showTrainConfirm=true" ng-show="!showTrainConfirm">Save & Train</a>
            <form class="form-inline" style="margin-top:7px" ng-submit="train()" ng-show="showTrainConfirm">
              <div class="form-group ibm-form-group input-group">
                <div class="form-field">
                  <input type="text" style="min-width:225px" class="form-control ibm-form-control ibm-nlc-entry-field" placeholder="Enter New Classifier's Name..." ng-model="newClassifier.name" show-focus="showTrainConfirm">
                </div>
                <div class="dropdown form-field">
                  <button style="padding-top:8px; padding-bottom:8px;" class="btn btn-default dropdown-toggle ibm-btn ibm-btn-default ng-binding" type="button" id="languageDropdown" aria-haspopup="true" aria-expanded="false">Language: {{ languageOption.label }}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu ibm-dropdown-menu" aria-labelledby="languageDropdown">
                    <li ng-repeat="option in languageOptions">
                      <a style="color:#444" ng-click="setLanguageOption(option);">{{ option.label }}</a>
                    </li>
                  </ul>
                </div>
                <span class="input-group-btn form-field">
                  <button style="border:none;border-radius:5px;" class="btn btn-primary ibm-btn-primary ibm-nlc-inline-btn" type="submit">Confirm</button>
                </span>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container ibm-container" ng-init="setTableHeights()">
  <div class="row ibm-row" style="margin-top: 20px;">

    <!-- --------------------------------- classes header and filter --------------------------------- -->
    <div class="col-sm-5 col-lg-4">
      <span class="ibm-nlc-column-header">Classes</span>
      <span class="ibm-nlc-showing-results">Showing {{ filteredClasses().length }} of {{ classes.length }} Classes</span>

      <!-- --------------------------------- classes sort --------------------------------- -->
      <div ng-show="classes.length">
        <form class="form-group ibm-form-group input-group" style="width:100%;margin-top: 5px;margin-bottom: 0px;" ng-submit="add('class', newClassString);">
          <input type="text" id="classTextField" class="form-control ibm-form-control ibm-nlc-entry-field" placeholder="Enter New Class Label..." ng-model="newClassString" show-focus="classTextFieldVisible">
          <span class="input-group-btn">
            <button class="btn btn-primary ibm-btn-primary ibm-nlc-inline-btn" type="submit" ng-show="!getFromLabel(classes, newClassString)">Add</button>
          </span>
        </form>
      </div>
      <div ng-show="classes.length" class="ibm-nlc-list-controls">
        <span ng-show="filteredClasses().length" class="ibm-nlc-checkall">
          <input type="checkbox" ng-model="checkAllClassesChecked" ng-click="checkAll(filteredClasses(),checkAllClassesChecked);">
        </span>
        <input ng-show="getChecked(classes).length && filteredClasses().length" type="image" class="ibm-nlc-icon-header" src="assets/images/remove-trash_32.png" width="20px" height="20px" ng-click="deleteCheckedClasses()">
        <div class="dropdown ibm-dropdown ibm-nlc-sortbydropdown">
          <button class="btn btn-default dropdown-toggle ibm-btn ibm-btn-default ng-binding" type="button" id="classOrderDropdown" aria-haspopup="true" aria-expanded="false">Sort by: {{ classOrderOption.label }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu ibm-dropdown-menu" aria-labelledby="classOrderDropdown">
            <li ng-repeat="option in classOrderOptions">
              <a ng-click="setClassOrderOption(option);">{{ option.label }}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- --------------------------------- classes list --------------------------------- -->
      <datalist id="classList">
        <option ng-repeat="c in classes" value="{{ c.label }}" />
      </datalist>
      <div class="ibm-nlc-table" ng-show="classes.length">
        <div class="ibm-nlc-data-row" ng-repeat="aClass in filteredClasses() | orderBy:classOrder" ng-class="aClass.selected ? 'ibm-nlc-class-selected' : ''">
          <div class="inline check">
            <span>
              <input type="checkbox" ng-model="aClass.checked"/>
            </span>
          </div>
          <div class="inline ibm-nlc-class-label" width="100%">
            <!-- width="100%" to force this cell to maximum available space -->
            <span ng-show="!aClass.edit">
              {{ aClass.label || 'empty' }}
            </span>
            <form ng-show="aClass.edit" ng-submit="changeLabel('class', aClass);">
              <span>
                <input id="{{ aClass.$$hashKey }}" type="text" class="form-control ibm-form-control ibm-nlc-label-edit-field" value="{{ aClass.label }}" ng-keyup="keyUpCancelEditing(aClass, $event)" ng-blur="changeLabel('class', aClass)" show-focus="aClass.edit">
              </span>
            </form>
          </div>
          <div class="right ibm-nlc-row-options" ng-class="{'ibm-nlc-row-options-padded': aClass.edit}">
            <div class="inline">
              <span class="ibm-icon ibm-icon-edit" ng-click="editField(aClass)"></span>
            </div>
            <div class="inline">
              <span class="ibm-icon ibm-icon-filter" ng-click="selectClass(aClass)"></span>
            </div>
            <div class="inline" ng-click="deleteClass(aClass)">
              <span class="ibm-icon ibm-icon-delete"></span>
            </div>
            <div class="inline">
              <span class="sr-only">(current)</span><span class="ibm-badge">{{numberUtterancesInClass(aClass)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------- utterances header and filter --------------------------------- -->
    <div class="col-sm-7 col-lg-8">
      <span class="ibm-nlc-column-header">Texts</span>
      <span class="ibm-nlc-showing-results">Showing {{ filteredUtterances().length }} of {{ utterances.length }} Texts</span>

      <!-- --------------------------------- utterances sort --------------------------------- -->
      <div ng-show="utterances.length">
        <form class="form-group ibm-form-group input-group" style="width:100%;margin-top: 5px;margin-bottom: 0px;" ng-submit="add('utterance', newUtteranceString);">
          <input type="text" id="utteranceTextField" class="form-control ibm-form-control ibm-nlc-entry-field" placeholder="Enter New Utterance Label..." ng-model="newUtteranceString" show-focus="classTextFieldVisible">
          <span class="input-group-btn">
            <button class="btn btn-primary ibm-btn-primary ibm-nlc-inline-btn" type="submit" ng-show="!getFromLabel(utterances, newUtteranceString)">Add</button>
          </span>
        </form>
        <div ng-show="getSelected().length" style="margin-top: 10px;">
          <span class="ibm-nlc-showing-tagged-results">Tagged with:</span>
          <span ng-repeat="aClass in getSelected()">
            <span class="ibm-nlc-tag ibm-nlc-filter-tag">
              {{ aClass.label }}
              <a ng-click="removeClassFromView(aClass)">
                <span class="ibm-nlc-tag-x">x</span>
              </a>
            </span>
          </span>
        </div>
      </div>
      <div ng-show="utterances.length" class="ibm-nlc-list-controls">
        <span ng-show="filteredUtterances().length" class="ibm-nlc-checkall">
          <input type="checkbox" ng-model="checkAllUtterancesChecked" ng-click="checkAll(filteredUtterances(),checkAllUtterancesChecked);">
        </span>
        <span ng-show="getChecked(utterances).length && filteredUtterances().length">
          <input type="image" class="ibm-nlc-icon-header" src="assets/images/remove-trash_32.png" width="20px" height="20px" ng-click="deleteCheckedUtterances()" style="margin-left:0px;">
          <input type="image" class="ibm-nlc-icon-header" src="assets/images/tag_32.png" width="20px" height="20px" ng-click="tagCheckedUtterances()"/>
        </span>
        <div class="dropdown ibm-dropdown ibm-nlc-sortbydropdown">
          <button class="btn btn-default dropdown-toggle ibm-btn ibm-btn-default ng-binding" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false">Sort by: {{ utteranceOrderOption.label }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu ibm-dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="option in utteranceOrderOptions">
              <a ng-click="setUtteranceOrderOption(option);">{{ option.label }}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- --------------------------------- utterances list --------------------------------- -->
      <div id="utterancesTable" class="ibm-nlc-scrolling-table" ng-show="utterances.length">
        <table class="table ibm-nlc-table" width="100%">
          <tbody>
            <tr class="ibm-nlc-table-row" ng-repeat="anUtterance in filteredUtterances() | orderBy:utteranceOrder">
              <td>
                <span>
                  <input type="checkbox" ng-model="anUtterance.checked"/>
                </span>
              </td>
              <td width="100%" style="padding: 10px 8px 5px;">
                <!-- to force this cell to maximum available space -->
                <div ng-show="!anUtterance.edit">
                  {{ anUtterance.label || 'empty' }}
                </div>
                <form ng-show="anUtterance.edit" ng-submit="changeLabel('utterance', anUtterance);">
                  <span>
                    <input id="{{ anUtterance.$$hashKey }}" type="text" class="form-control ibm-form-control ibm-nlc-label-edit-field" value="{{ anUtterance.label }}" ng-keyup="keyUpCancelEditing(anUtterance, $event)" ng-blur="changeLabel('utterance', anUtterance)" show-focus="anUtterance.edit">
                  </span>
                </form>
                <span class="ibm-nlc-classes-label">Classes:</span>
                <div ng-repeat="answer in anUtterance.classes" class="ibm-nlc-tag">
                  <span>{{ answer }}</span>
                  <a ng-click="removeTag(anUtterance, answer)"><span class="ibm-nlc-tag-x">x</span></a>
                </div>
                <input type="text" id="newTagField{{ anUtterance.$$hashKey }}" class="ibm-nlc-add-tag-field" placeholder="class name..." ng-model="newTagStrings[anUtterance.$$hashKey]" ng-keyup="newTagFieldKeyUp($event, anUtterance)" list="classList" ng-show="anUtterance.beingTagged" show-focus="anUtterance.beingTagged">
                <input type="button" value="+" class="ibm-nlc-add-class-button" ng-click="beginTaggingUtterance(anUtterance)" />
              </td>
              <td>
                <span class="ibm-icon ibm-icon-edit" ng-click="editField(anUtterance)"></span>
              </td>
              <td ng-click="deleteUtterance(anUtterance)">
                <span class="ibm-icon ibm-icon-delete"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div ng-if="classes.length + utterances.length === 0" class="ibm-nlc-nodata-message">
    <h2>Watson needs your data.</h2>
    <p>Train NL Classifier by providing examples of how you want text to be labelled.</p>
    <p>- Enter your texts and labels manually.</p>
    <p>or</p>
    <p>- Import JSON or CSV data using the "Import" Option</p>
  </div>
</div>
