<nav class="navbar navbar-default ibm-navbar ibm-nlc-navbar">
    <div class="container ibm-container">
        <div ng-controller="AppController">
            <div>
                <ul class="nav navbar-nav navbar-left ibm-nav">
                    <li>
                        <a ngf-select ngf-change="getFileContent(files)" data-multiple="true" ng-model="files">Import</a>
                    </li>
                    <li>
                        <a ng-click="export()">Export</a>
                    </li>
                    <!--<li>
                        <a ng-click="undo()">Undo</a>
                    </li>
                    <li>
                        <a ng-click="redo()">Redo</a>
                    </li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right ibm-nav">
                    <li style="float: right">
                        <!--<a ng-if="status === 'Available'" ng-click="train()">Train</a>-->
                        <a ng-if="status !== 'Training'" ng-click="train()">Save & Train</a>
                        <a ng-if="status === 'Training'" style="pointer-events: none">Training</a>
                        <!--<a ng-if="status !== 'Available' && status !== 'Training'" style="pointer-events: none">Error with Classifier</a>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="ibm-container-wrapper">
    <div ui-view></div>
</div>

