<div>
    <div class="container ibm-container-fluid">
        <div class="row" style="margin-top: 30px;">
            <div class="col-xs-6">
                <form class="ibm-input-group-search" ng-submit="classifyText()">
                    <input class="form-control ibm-form-control" type="text" placeholder="{{ status }}" ng-model="text" ng-disabled="status !== 'Available'">
                </form>
                <div class="conversation">
                    <div ng-repeat="node in conversation">
                        <p ng-if="$index%2===0" ng-bind-html="node" class="question"></p>
                        <p ng-if="$index%2===1" class="response">
                            <span ng-repeat="class in node">{{ class.class }} ({{ class.confidence | number: 3}})</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <!--<button ng-click="checkStatus()">Check Status</button>
                <p>{{ status }}</p>-->
            </div>
        </div>
    </div>
</div>
