<div class="row ibm-login">
	<alerts-bar alerts="alerts"></alerts-bar>
</div>
<div class="row ibm-login">
	<div class="col-sm-4 col-sm-offset-4">
		<form class="ibm-form" ng-submit="login(credentials)">
			<h1>Login</h1>

			<div class="form-group ibm-form-group">
				<label class="ibm-form-control-required">Username:</label>
				<input type="text" class="form-control ibm-form-control" placeholder="Enter Username" required="" ng-model="credentials.username">
			</div>
			<div class="form-group ibm-form-group">
				<label class="ibm-form-control-required">Password:</label>
				<input type="password" class="form-control ibm-form-control" placeholder="Password" required="" ng-model="credentials.password">
			</div>

			<div class="form-group text-center">
				<button type="submit" class="btn btn-primary btn-lg ibm-btn ibm-btn-primary ibm-btn-lg">Submit</button>
			</div>
		</form>
    <button class="btn btn-default ibm-btn ibm-btn-link ibm-text-helper" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample" style="display: block; padding: 0; margin: 0 auto; margin-bottom: 10px;">Questions about how to login?</button>
    <div class="collapse" id="collapseExample" aria-expanded="true">
      <p class="ibm-text-helper">
        The username and password above correspond to the Natural Language Classifier service instance you are connecting to. In order to find these, you can open your service instance on Bluemix and navigate to the "Service Credentials" tab on the side panel. This will display a page that contains your username and password, which you can use to log in to the tooling.
      </p>
    </div>
	</div>
	<div class="col-sm-4">
  </div>
</div>
